.vscode/**
.vscode-test/**
out/**
node_modules/**
src/**
.gitignore
.yarnrc
webpack.config.js
vsc-extension-quickstart.md
**/tsconfig.json
**/.eslintrc.json
**/*.map
**/*.ts
.changeset/**
resources/bootstrap-icons.json
resources/bootstrap-icons.svg
resources/bootstrap-icons.woff
.swrrc
.github/**
.husky/**
.eslintignore
